:root {
    --background: whitesmoke;
    --font: sans-serif;
}

* {
    font-family: var(--font);
}

header {
  background: slategray;
  padding: 1%;
  display: flex;
  justify-content: space-between;
  margin-top: -50px;
}

h1 {
  font-size: 300%;
  color: slategray;
  border: 3px solid turquoise;
  background-color: turquoise;
  padding: 5px;
  padding-top: 0%;
  padding-left: 5%;
  margin-left: -4%;
  margin-top: 3%;
}

nav {
  display: flex;
  justify-content: flex-end;
  font-family: var(--font);
  font-size: 120%;
  margin-right: 5%;
  margin-top: 4%;
}

nav a {
  text-decoration: underline;
  color: lightblue;
  text-align: center;
  padding: 10px 10px;
}

div img {
  width: 100%;
  height: 200px;
  background-image: url(watercolor-light-steel-blue-wallpaper-image.jpg);
  background-size: 100% 100%;
  z-index: -1;
  position: relative;
}

div p {
  position: absolute;
  font-weight: bold;
  bottom: 40px;
  right: 70px;
  font-size: 200%;
  word-spacing: 3px;
  letter-spacing: 1px;
  border: 3px solid turquoise;
  background-color: turquoise;
  padding-right: 1%;
  padding-left: 1%;
  padding: 5px;
  color: slategray;
  font-family: var(--font);
}

.image {
  position: relative;
  text-align: center;
}

main {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.about-me h2 {
  font-size: 230%;
  display: flex;
  text-align: right;
  line-height: 1.1;
  margin-left: 11%;
  margin-top: 4%;
  margin-right: 80%;
  padding-bottom: 7%;
  padding-right: 1%;
  padding-top: 5px;
  border-right: 5px solid black;
}

.about-me p {
  display: flex;
  justify-content: flex-start;
  margin-right: 5%;
  margin-left: 24%;
  margin-bottom: 12%;
  margin-top: -12%;
  font-size: 110%;
}

.work h2 {
  font-size: 220%;
  display: flex;
  margin-left: 13%;
  margin-top: 3%;
  border-right: 5px solid black;
  margin-right: 80%;
  padding-bottom: 52%;
  padding-top: 5px;
}

.surf-report {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 27%;
  margin-right: 5%;
  margin-top: -54%;
  margin-left: 24%;
  padding-bottom: 30%;
  border: 4px solid turquoise;
  background-size: 100% 200%;
  position: relative;
  background-image: url(./images/watercolor-light-steel-blue-wallpaper-image.jpg);
  transition: all 0.5s ease-in-out;
}

.surf-report:hover {
  filter: brightness(112%);
}

.surf-report #surf-title {
  position: absolute;
  bottom: 18px;
  left: 0px;
  font-size: 170%;
  font-family: var(--font);
  letter-spacing: 1.4px;
  padding-bottom: 5%;
  padding-top: 7px;
  padding-right: 2%;
  padding-left: 1%;
  border: 3px solid turquoise;
  background-color: turquoise;
}

.surf-report #surf-details {
  position: absolute;
  bottom: 50px;
  left: 1.5%;
  font-size: 90%;
  letter-spacing: 1px;  
}

.led-wall {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 27%;
  margin-right: 43%;
  margin-top: -25%;
  margin-left: 24%;
  padding-bottom: 9%;
  border: 4px solid turquoise;
  background-size: 100% 200%;
  position: relative;
  background-image: url(./images/watercolor-light-steel-blue-wallpaper-image.jpg);
  transition: all 0.5s ease-in-out;
}

.led-wall:hover {
  filter: brightness(112%);
}

.led-wall #led-title {
  position: absolute;
  bottom: 18px;
  left: 0px;
  font-size: 170%;
  font-family: var(--font);
  letter-spacing: 1.4px;
  padding-bottom: 5%;
  padding-top: 7px;
  padding-right: 2%;
  padding-left: 1%;
  border: 3px solid turquoise;
  background-color: turquoise;
}
.led-wall #led-details {
  position: absolute;
  bottom: 30px;
  left: 1.7%;
  font-size: 90%;
  letter-spacing: 1px;
}

.calculator {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 27%;
  margin-right: 5%;
  margin-top: -36.6%;
  margin-left: 58%;
  padding-bottom: 9%;
  border: 4px solid turquoise;
  background-size: 100% 200%;
  position: relative;
  background-image: url(./images/watercolor-light-steel-blue-wallpaper-image.jpg);
  transition: all 0.5s ease-in-out;
}

.calculator:hover {
  filter: brightness(112%);
}

.calculator #cal-title {
  position: absolute;
  bottom: 18px;
  left: 0px;
  font-size: 170%;
  font-family: var(--font);
  letter-spacing: 1.4px;
  padding-bottom: 5%;
  padding-top: 7px;
  padding-right: 6%;
  padding-left: 1%;
  border: 3px solid turquoise;
  background-color: turquoise;
}

.calculator #cal-details {
  position: absolute;
  bottom: 30px;
  left: 1.7%;
  font-size: 90%;
  letter-spacing: 1px;
}

.pastel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 27%;
  margin-right: 5%;
  margin-top: -25.6%;
  margin-left: 58%;
  padding-bottom: 9%;
  border: 4px solid turquoise;
  background-size: 100% 200%;
  position: relative;
  background-image: url(./images/watercolor-light-steel-blue-wallpaper-image.jpg);
  transition: all 0.5s ease-in-out;
}

.pastel:hover {
  filter: brightness(112%);
}

.pastel #pastel-title {
  position: absolute;
  bottom: 18px;
  left: 0px;
  font-size: 170%;
  font-family: var(--font);
  letter-spacing: 1.4px;
  padding-bottom: 5%;
  padding-top: 7px;
  padding-right: 2%;
  padding-left: 1%;
  border: 3px solid turquoise;
  background-color: turquoise;
}

.pastel #pastel-details {
  position: absolute;
  bottom: 30px;
  left: 1.7%;
  font-size: 90%;
  letter-spacing: 1px;
}

.run-buddy {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 27%;
  margin-right: 43%;
  margin-top: -36.6%;
  margin-left: 24%;
  padding-bottom: 9%;
  border: 4px solid turquoise;
  background-size: 100% 200%;
  position: relative;
  background-image: url(./images/watercolor-light-steel-blue-wallpaper-image.jpg);
  transition: all 0.5s ease-in-out;
}

.run-buddy:hover {
  filter: brightness(112%);
}

.run-buddy #run-title {
  position: absolute;
  bottom: 18px;
  left: 0px;
  font-size: 170%;
  font-family: var(--font);
  letter-spacing: 1.4px;
  padding-bottom: 5%;
  padding-top: 7px;
  padding-right: 2%;
  padding-left: 1%;
  border: 3px solid turquoise;
  background-color: turquoise;
}

.run-buddy #run-details {
  position: absolute;
  bottom: 30px;
  left: 1.7%;
  font-size: 90%;
  letter-spacing: 1px;
}

.contact-me h2 {
  font-size: 220%;
  display: flex;
  margin-left: 10%;
  margin-top: -22%;
  margin-right: 80%;
  margin-bottom: 5%;
  padding-right: 1%;
  padding-bottom: 2%;
  padding-top: 4px;
  text-align: right;
  border-right: 5px solid black;
  line-height: 1.3;
}

.contact-me-information {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  letter-spacing: 1px;
  padding: 5px;
  margin-top: -20%;
  margin-bottom: 15%;
  margin-left: 24%;
  margin-right: 20%;
}

.contact-me-information a {
  justify-content: space-around;
  text-decoration: underline;
  color: black;
  font-weight: bold;
}

